
/* Your CSS Code here. */
.holder{
	height:100vh;
	width:100%;
	display:flex;
	justify-content:space-evenly;
	flex-shrink:0;
	flex-wrap:wrap;
}
.item{
    height:100px;
	width:100px;
	background-color:royalblue;
	
}